/*--------------------------------- Main Content ---------------------------------*/

#tabs-list {
	list-style: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	height: 480px; /* temporary */
	overflow: scroll;
}

ul#tabs-list > li {
	padding: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: -1;

	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

ul#tabs-list > li:nth-child(even) {
	background: #f8e5b2;
}

ul#tabs-list > li:nth-child(odd) {
	background: #e0824b;
}

ul#tabs-list > li:hover {
	background: #4adb4a;
}

ul#tabs-list > li.burn {
	background: #e94040;
}

ul#tabs-list > li.select {
	background: rgb(104, 104, 207);
}

.tab-container {
	flex: 1 1 0;
}

.tab-checkbox {
	flex: 0 1 1;
	margin: 15px;
}

.tab-burn {
	cursor: pointer;
	background-color: yellow;
	flex: 0 1 1;
}

input[type=checkbox] {
	transform: scale(2);
}

#tags-outer-container {
	margin-bottom: 20px;
	display: flex;
}


.tags-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;

	flex-grow: 1;
}

#tag-commands-container {
	flex-grow: 0;
}

.tag-commands {
	padding: 5px;
	margin: 5px;
	background-color: rosybrown;
	cursor: pointer;
}

#tags-outer-container.hidden {
	height: 0px;
}

#tags-outer-container.hidden > div {
	display: none;
}

.tag {
	border: 2px;
	border-radius: 5px;
	background-color: rgb(145, 245, 153);
	margin: 5px;
}

.top-tag {
	font-size: 20px;
	cursor: pointer;
}

.tab-tag {
	font-size: 14px;
}

.top-tag.select {
	background-color: rgb(146, 146, 233);
}

#add-tag-field {
	border: none;
	background-color: transparent;
}

#add-tag-field.hidden {
	display: none;
}

/*---------------------------------- TOP BAR EXTRAS ----------------------------------*/

.top-bar {
	grid-column: 2/3;
	grid-row: 1/3;
	border-bottom: solid #ff9999 9px;
	padding: 9px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
}

div.spacer {
	width: 25px;
}

#assign-tags-btn {
	background-color: #c23ea5;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

#trash {
	background-color: #5a5a5a;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

#deploy-btn {
	background-color: rgb(190, 71, 71);
	color: white;
	font-size: 20px;
	cursor: pointer;
}
